Has the ratio of Official Action Indicated (OAI) records increased over the past year?

Has the number of inspections and citations increased over the past year?

[Google graphs](https://developers.google.com/chart/interactive/docs/gallery/linechart)

In [1]:
import pandas as pd

df_inspection_details = pd.read_excel('inspection_details.xlsx', sheet_name = 'raw_data')
print(df_inspection_details.shape)
df_inspection_details.head()

(255884, 15)

,FEI Number,Legal Name,City,State,Zip,Country/Area,Fiscal Year,Inspection ID,Posted Citations,Inspection End Date,Month,Classification,Project Area,Product Type,FMD-145 Date
0,1000515432,The American National Red Cross,Columbus,Ohio,43215,United States,2022,1164115,No,2022-03-09,3,No Action Indicated (NAI),Blood and Blood Products,Biologics,-
1,1000515432,The American National Red Cross,Columbus,Ohio,43215,United States,2022,1164115,No,2022-03-09,3,No Action Indicated (NAI),Vaccines and Allergenic Products,Biologics,-
2,3015762396,UNLEASHED LLC,Raleigh,North Carolina,27604,United States,2022,1163661,Yes,2022-03-08,3,No Action Indicated (NAI),"Monitoring of Marketed Animal Drugs, Feed, and...",Veterinary,-
3,3005892895,Copinol Enterprises Inc,Miami,Florida,33184,United States,2022,1162514,No,2022-03-07,3,No Action Indicated (NAI),Foodborne Biological Hazards,Food/Cosmetics,-
4,3007712511,"Cogmedix, Inc.",West Boylston,Massachusetts,01583,United States,2022,1164052,No,2022-03-07,3,Voluntary Action Indicated (VAI),Compliance: Devices,Devices,-

In [2]:
df_2 = pd.read_excel('inspection_citation_details.xlsx', sheet_name = 'summary_table')
print(df_2.shape)
df_2.head()

(17, 12)

,Count of Inspection ID,Column Labels,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Row Labels,Biologics,Bioresearch Monitoring,Devices,Drugs,Foods,Human Tissue for Transplantation,Part 11 Compliance,Parts 1240 and 1250,Radiologic Health,Veterinary Medicine,Grand Total
1,2008,78,151,580,408,1204,56,2,68,1,84,2632
2,2009,479,838,3259,2773,10198,436,3,399,7,452,18844
3,2010,591,707,3860,3152,12341,338,21,313,41,780,22144
4,2011,623,566,4243,3376,15212,344,20,281,64,839,25568

COVID has affected nearly every part of our lives - personal, work, and beyond. Despite the well known mailman's creed of "Neither snow nor rain nor heat nor gloom of night...", government was no expection to this. We can see this clearly in the collection of data on FDA inspections over the past decade. In the macro - we can see total inspections holding steady between roughly 20-25,0000 from 2010 to 2019. Then, to no one's surprise, we see a steep drop by over 50% in 2020 to 9,638 and still further in 2021 to 7,689. You can see this overall trend clearly below. 
- graph created & data output is below -> dataframe to list of lists for javascript function

In [5]:
pivot = df_inspection_details.pivot_table(index =['Fiscal Year'],
                                           values =['Classification'],
                                           aggfunc ='count')
pivot

             Classification
Fiscal Year
2009                  17598
2010                  21517
2011                  25489
2012                  24774
2013                  21561
2014                  20442
2015                  20447
2016                  20728
2017                  21756
2018                  21546
2019                  19527
2020                   9637
2021                   7689
2022                   3173

In [6]:
# transforming data for Google charts

# # Create a dataframe from csv
pivot.to_csv('line_chart_data.csv')
df_year_totals = pd.read_csv('line_chart_data.csv', delimiter=',')
# User list comprehension to create a list of lists from Dataframe rows
list_of_rows = [list(row) for row in df_year_totals.values]
# Insert column names as first list in list of lists
list_of_rows.insert(0, df_year_totals.columns.to_list())
# Print list of lists i.e. rows
# print(list_of_rows)
list_of_rows

[['Fiscal Year', 'Classification'],
 [2009, 17598],
 [2010, 21517],
 [2011, 25489],
 [2012, 24774],
 [2013, 21561],
 [2014, 20442],
 [2015, 20447],
 [2016, 20728],
 [2017, 21756],
 [2018, 21546],
 [2019, 19527],
 [2020, 9637],
 [2021, 7689],
 [2022, 3173]]

[Line chart](http://localhost:8888/files/line_chart.html?_xsrf=2%7C8e5e7a04%7C0d4049f38872113f99f1320205766109%7C1647433666) looking at totals by year

It gets interesting when we zoom in into the types of inspections and the ratios in which they occurred. Here, I want to specifically look at the ratio of Official Action Indicated (OAI) inspections. As a ratio or percent of the total inspections by year, we see a steady rise from 2009 to 2013, a steady decrease from here to 2018, and the beginning of another uptick which actually continued well into COVID with a continued rise in OAI inspections (as a percentage) from 2019-2020 (2.9% -> 3.1%) and 2020-2021 (3.1% -> 3.7%). 
- graph created with data output below
- zoomed in graph on OAI data also generated with data below

In [7]:
# https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html
# https://datagy.io/pandas-crosstab/

pd.crosstab(df_inspection_details['Fiscal Year'], df_inspection_details.Classification)

Classification,No Action Indicated (NAI),Official Action Indicated (OAI),Voluntary Action Indicated (VAI)
Fiscal Year,,,
2009,10989,701,5908
2010,13064,884,7569
2011,15591,1172,8726
2012,15690,1136,7948
2013,13771,1136,6654
2014,12693,994,6755
2015,12789,1012,6646
2016,13515,754,6459
2017,14475,721,6560
2018,14338,504,6704
2019,12724,572,6231
2020,6003,297,3337
2021,4973,282,2434
2022,2361,30,782

In [8]:
# transforming data for Google charts

df_3 = pd.crosstab(df['Fiscal Year'], df.Classification, normalize='index')
df_3.to_csv('bar_chart_data.csv')
df_3 = pd.read_csv('bar_chart_data.csv', delimiter=',')
list_of_rows = [list(row * 100) for row in df_3.values]
# Insert Column names as first list in list of lists
list_of_rows.insert(0, df_3.columns.to_list())
# Print list of lists i.e. rows
# print(list_of_rows)
list_of_rows

NameError: name 'df' is not defined

[Stacked chart](http://localhost:8888/files/stacked_chart.html?_xsrf=2%7C8e5e7a04%7C0d4049f38872113f99f1320205766109%7C1647433666) looking at each type, by percentage

In [37]:
# transforming data for Google charts

OAI_list = df_3[['Fiscal Year', 'Official Action Indicated (OAI)']]
list_of_OAI = [list(row * 100) for row in OAI_list.values]
list_of_OAI

[[200900.0, 3.98340720536424],
 [201000.0, 4.10837942092299],
 [201100.0, 4.59806190905881],
 [201200.0, 4.58545249051424],
 [201300.0, 5.2687723203933],
 [201400.0, 4.8625379121416605],
 [201500.0, 4.94938132733408],
 [201600.0, 3.6375916634504],
 [201700.0, 3.3140283140283096],
 [201800.0, 2.3391812865497],
 [201900.0, 2.92927741076458],
 [202000.0, 3.08187195185223],
 [202100.0, 3.6675770581349902],
 [202200.0, 0.94547746612039]]

[OAIs broken out](http://localhost:8888/files/OAI_chart.html?_xsrf=2%7C8e5e7a04%7C0d4049f38872113f99f1320205766109%7C1647433666).

It will be interesting to see where it goes from here as the sheer overall number of inspections has started to pick up again. We're only nearing the end of Q1 and already approaching 50% of the inspections for 2021. In fact, if we zoom in again on month-by-month inspection totals from the last 2 years, we can clearly see the number of overall inspections increasing. Which, thankfully, seems to be another indication that we're trending towards a return to normalcy. 

*NOTE:* Why data only shows through 2021 - we're using fiscal year as a proxy since the date of completion is actually a lagging indicator